<section class="videos pb-5" id="videos">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="plugins__title ml-3">{{ .title }}</h2>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center px-3">
      {{ range $videos := .items}}
      <div class="d-flex justify-content-center mx-auto mb-3">
        <iframe class="videos__video mt-5 mt-lg-0" src="{{ $videos.url }}">
        </iframe>
      </div>
      {{ end }}
    </div>
  </div>
</section>
