{{ define "main" }}
  <div class="get-started">
    {{ partial "components/hero-panel" . }}
    {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ with $on_premises := $data.get_started.on_premises }}
      {{ range $on_premises }}
        {{ range .evaluate }}
          {{ partial "components/services/services" . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with $on_premises := $data.get_started.on_premises }}
      {{ range $on_premises }}
        {{ range .on_production }}
          {{ partial "components/services/services" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
