.community {
  h1, h2, h3, h4 {
    color: $black;
  }

  p {
    color: $black;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.2px;
  }

  img {
    width: 61px;
    max-height: 78px;
  }
}

.contribute {
  background-color: $white-15;

  &__block {
    border: solid 1px #979797;
    background-color: $white;
    height: 175px;
    max-width: 383px;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}

.get-connected {
  &__item {
    display: flex;
    flex-direction: column;
    min-height: 240px;
  }

  &__paragraph {
    min-height: 81px;
  }

  &__icon {
    min-width: 41px;
    min-height: 78px;
  }

  &__wrapper {
    padding: 0 51px;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(3n+2), &:nth-child(3n+3) {
      border-left: 1px solid $gray-5;
    }
    @include media-breakpoint-down(md) {
      &:nth-child(3n+2), &:nth-child(3n+3) {
        border-left: none;
      }
    }
  }
}
